.rightSbCont{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: fixed;
  right: 0;
  top: 56px;
  padding-top: 9px;
  bottom: 0;  
  width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}

.rightSbCont::-webkit-scrollbar {
  width: 8px;
}

.rightSbCont::-webkit-scrollbar-thumb {
  background-color: rgb(188, 192, 196);
  border-radius: 4px;
}

.rightSbCont::-webkit-scrollbar-track{
  background-color: transparent;
} 

.sectionsCont{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 10px;
  position: relative;
}

.rightSbSectionsEndLine{
  position: absolute;
  bottom: 0;
  right: 8px;
  width: 328px;
  border-bottom: 1px solid rgba(208, 211, 215);
}

.rightSbSectionsLabel{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(101, 104, 108);
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 9px;
  margin-left: 16px;
}