.sponsorDispCont{
  width: 328px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 8px 8px 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.sponsorDispCont:hover{
  border-radius: 5px;
  background-color: rgba(218, 220, 222);
}

.sponsorImg{
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: center;
  border: solid 1px rgba(208, 211, 215);
  border-radius: 8px;
}

.sponsorTexts{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 136px;
}

.sponsorTitle{
  font-size: 15px;
  color: black;
  font-weight: 500;
  margin: 0;
}

.sponsorDomain{
  font-size: 13px;
  color: rgba(122, 126, 129);
  margin: 0;
}