.friendReqsUpperRow{
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.friendReqsSeeAll{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 100, 209);
  font-size: 15px;
  padding-right: 16px;
}

.friendReqsDispCont{
  display: flex;
  width: 328px;
  padding: 8px 8px 7px 8px;
  margin-left: 8px;
  border-radius: 8px;
}

.friendReqsDispCont:hover{
  background-color: rgb(229, 231, 234);
}

.friendReqsDispCont:hover .friendReqsDeleteButton{
  background-color: rgb(214, 217, 221);
}

.friendReqsDispCont:hover .friendReqsConfirmButton{
  background-color: rgb(7, 96, 242);
}

.friendReqsPhoto{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.friendReqsDispRightCol{
  width: 256px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  margin-top: -2px;
}

.friendReqsDetailsCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.friendReqsName{
  font-size: 15px;
  font-weight: 500;
}

.friendReqsHours{
  font-size: 13px;
  color: rgb(122, 126, 129);
}

.friendReqsMutualsRow{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 8px;
  position: relative;
  margin-bottom: 4px;
}

.friendReqsMutualsPhoto1Ring{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 18px;
  width: 18px;
  background-color: rgb(242, 244, 247);
  border-radius: 100%;
  z-index: 2;
}

.friendReqsDispCont:hover .friendReqsMutualsPhoto1Ring{
  background-color: rgba(229, 231, 234);
}

.friendReqsMutualsPhoto1{
  height: 16px;
  width: 16px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  z-index: 3;
}

.friendReqsMutualsPhoto2{
  height: 16px;
  width: 16px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  padding-left: -3px;
  z-index: 1;
  position: absolute;
  left: 12px;
}

.friendReqsMutualsLabel{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: rgb(122, 126, 129);
  padding-left: 14px;
  margin-top: -4px;
}

.friendReqsButtonsCont{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 44px;
  width: 268px;
}

.friendReqsConfirmCont, .friendReqsDeleteCont{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 36px;
  width: 124px;
  border-radius: 8px;
  position: relative;
}

.friendReqsConfirmCont{
  margin-right: 4px;
}

.friendReqsDeleteCont{
  margin-left: 4px;
}

.friendReqsConfirmButton, .friendReqsDeleteButton{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 8px;
}

.friendReqsConfirmButton{
  background-color: rgb(8, 102, 255);
}

.friendReqsDeleteButton{
  background-color: rgba(226, 229, 233);
}

.friendReqsConfirmLabel, .friendReqsDeleteLabel{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
}

.friendReqsConfirmLabel{
  color: white;
  left: 35px;
  top: 6px;
}

.friendReqsDeleteLabel{
  left: 40px;
  top: 6px;
}