.storiesSection{
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.storiesNextButton{
  height: 48px;
  width: 48px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  position: absolute;
  top: 81px;
  right: 16px;
  z-index: 2;
}

.storiesNextButton:hover{
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

.storiesNextIcon{
  height: 17px;
  width: 17px;
  margin-left: 4px;
}

.createStoryCard{
  height: 200px;
  width: 112.5px;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  overflow: visible;
  position: relative;
}

.createStoryCard:hover{
  cursor: pointer;
  filter: brightness(90%);
}

.createStoryCard .userPhotoStory{
  transition: transform 0.3s ease;
}

.createStoryCard:hover .userPhotoStory{
  transform: scale(1.02);
}

.userStoryPhotoCont{
  height: 151px;  
  width: 112.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.userPhotoGradient{
  height: 60px;  
  width: 112.5px;
  background-image: linear-gradient(to top, black, transparent);
  opacity: 0.33;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.userPhotoStory{
  height: 100%;  
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: brightness(90%);
}

.createStoryLabelCont{
  padding-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createStoryLabel{
  font-size: 13px;
  font-weight: 600;
}

.createStoryIconCont{
  height: 32px;
  width: 32px;
  background-color: #0866ff;
  border: 4px solid white;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 131px;
  left: 36px;
  z-index: 3;
}

.createStoryIcon{
  height: 14px;
  width: 14px;
}

.storyCards{
  height: 200px;
  width: 112.5px;
  border-radius: 10px;
  border: 1px solid rgb(208, 211, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: filter 0.2s ease;
  box-sizing: border-box;
}

.storyCards:hover{
  cursor: pointer;
  filter: brightness(90%);
}

.storyCards .friendsStoryImg{
  transition: 0.2s ease;
}

.storyCards:hover .friendsStoryImg{
  transform: scale(1.02)
}

.friendsStoryImgCont{
  height: 200px;
  width: 112.5px;
  position: relative;

}
.friendsStoryImg{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.friendsStoryGradient{
  height: 80px;  
  width: 112.5px;
  background-image: linear-gradient(to top, black, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.friendsProfilePicRing{
  display: flex;
  height: 32px;
  width: 32px;
  border: 4px solid rgb(8, 102, 255);
  border-radius: 100%;
  position: absolute;
  top: 12px;
  left: 12px;
}

.friendsProfilePic{
  height: 32px;
  width: 32px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.friendsStoryName{
  font-size: 14px;
  font-weight: 600;
  color: white;
  line-height: 19px;
  position: absolute;
  bottom: 7px;
  left: 12px;
  z-index: 3;
}