.feedSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedCards{
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 1px rgba(101, 104, 108, 0.1);
  margin-bottom: 12px;
}

/*FEED UPPER PART*/

.feedCardsUpper{
  width: 100%;
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.feedInfosRow{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedInfosLeftCont{
  display: flex;
  flex-direction: row;
}

.feedAuthorPhoto{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.feedAuthorPhotoStoryRing{
  height: 38px;
  width: 38px;
  border: 2px solid rgb(8, 102, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.feedAuthorPhotoStory{
  height: 36px;
  width: 36px;
  border-radius: 18px;
  object-fit: cover;
  object-position: center;
}

.feedAuthorPhoto:hover, .feedAuthorPhotoStoryRing:hover{
  cursor: pointer;
  filter: brightness(90%);
}

.feedAuthorUpperRow{
  display: flex;
  gap: 5px;
}

.feedAuthorName{
  font-weight: 500;
}

.feedAuthorFollow{
  font-size: 15px;
  font-weight: 500;
  color: rgb(0,100,209);
}

.feedAuthorLowerRow{
  font-size: 13px;
  color: rgb(101, 104, 108);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.feedAuthorName:hover, .feedAuthorFollow:hover, .feedAuthorDate:hover{
  cursor: pointer;
  text-decoration: underline;
}

.feedAuthorPrivacyIcon{
  height: 15px;
  width: 15px;
}

.feedInfosRightCont{
  display: flex;
}

.feedInfosRightIconsCont{
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedInfosRightIconsCont:hover{
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

.feedInfosIcons, .feedInfosIcons{
  height: 15px;
  width: 15px;
}

.feedCaptionCont{
  margin-top: 5px;
}

/*FEED LOWER PART*/

.feedCardsLower{
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.feedStatsRow{
  padding-bottom: 8px;
  margin: 5px 12px 0px 12px;
  border-bottom: 1px solid rgb(208, 211, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.feedStatsCountLeftCont{
  color: rgb(101, 104, 108);
  margin-bottom: -1px;
  margin-left: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedStatsCountMinSize, .feedStatsCountMaxSize{
  margin-bottom: -2px;
}

@media (max-width: 523px){
  .feedStatsCountMinSize{
    display: inline;
  }


  .feedStatsCountMaxSize{
    display: none;
  }
}

@media (min-width: 524px){
  .feedStatsCountMinSize{
    display: none;
  }

  .feedStatsCountMaxSize{
    display: inline;
  }
}

.feedStatsReactionsCont{
  width: 62px;
}

.feedStatsReactionsCont:hover{
  cursor: pointer;
}

.feedStatsReactionsRing1, .feedStatsReactionsRing2, .feedStatsReactionsRing3{
  height: 22px;
  width: 22px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}

.feedStatsReactionsRing1{
  left: 0px;
  z-index: 4;
}

.feedStatsReactionsRing2{
  left: 18px;
  z-index: 3;
}

.feedStatsReactionsRing3{
  left: 36px;
  z-index: 2;
}

.feedStatsReactionsIcon1, .feedStatsReactionsIcon2, .feedStatsReactionsIcon3{
  height: 18px;
  width: 18px;
}

.feedStatsCountRightCont{
  color: rgb(101, 104, 108);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.feedStatsIcon{
  height: 14px;
  width: 14px;
  margin-bottom: -1px;
}

@media (max-width: 523px){
  .feedStatsIcon{
    display: inline;
  }

  .feedStatsLabel{
    display: none;
  }
}

@media (min-width: 524px){
  .feedStatsIcon{
    display: none;
  }

  .feedStatsLabel{
    display: inline;
  }
}

.feedStatsCount:hover{
  cursor: pointer;
  text-decoration: underline;
}

.feedActionsRowCont{
  height: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 4px 12px;
}

.feedActionsConts{
  height: 32px;
  width: 224px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedActionsConts:hover{
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

.feedActionsIcons{
  height: 20px;
  width: 20px;
  padding-right: 8px;
}

.feedActionsLabel{
  font-weight: 500;
  color: rgb(101,104,108);
  margin-top: -2px;
}

.feedCardsMiddle{
  height: 100%;
  width: 100%;
  border-top: 1px solid rgb(208, 211, 215);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedMedia{
  max-height: 575px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.feedMedia:hover{
  cursor: pointer;
}