.rightSbCont{
  height: calc(100vh - 56px);
  min-width: 280px;
  max-width: 360px;
  padding: 9px 8px 0px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: 56px;
  box-sizing: border-box;
}

@media (max-width: 899px){
  .rightSbCont{
    display: none;
  }
}

.rightSbCont::-webkit-scrollbar {
  width: 8px;
}

.rightSbCont::-webkit-scrollbar-thumb {
  background-color: rgb(188, 192, 196);
  border-radius: 4px;
}

.rightSbCont::-webkit-scrollbar-track{
  background-color: transparent;
} 

.sectionsCont{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rightSbSectionsEndLine{
  position: absolute;
  left: 16px;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid rgb(208, 211, 215);
  box-sizing: border-box;
}

.rightSbSectionsLabel{
  font-size: 17px;
  font-weight: 500;
  color: rgb(101, 104, 108);
  margin-bottom: 9px;
  margin-left: 16px;
}