.sponsorDispCont{
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 0px 8px 8px;
  margin: 0px 8px;
  box-sizing: border-box;
}

.sponsorDispCont:hover{
  border-radius: 5px;
  background-color: rgba(218, 220, 222);
}

.sponsorImg{
  object-fit: cover;
  object-position: center;
  border: solid 1px rgba(208, 211, 215);
  border-radius: 8px;
}

.sponsorTexts{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

@media (min-width: 900px){
  .sponsorImg{
    min-width: 138px;
    max-width: 180px;
    aspect-ratio: 1;
    display: block;
  }
  .sponsorTexts{
    min-width: 110px;
    max-width: 143px;
  }
}

.sponsorTitle{
  font-size: 15px;
  color: black;
  font-weight: 500;
  margin: 0;
}

.sponsorDomain{
  font-size: 13px;
  color: rgba(122, 126, 129);
  margin: 0;
}