.friendReqsUpperRow{
  display: flex;
  justify-content: space-between;
}

.friendReqsSeeAll{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 100, 209);
  font-size: 15px;
}

.friendReqsDispCont{
  display: flex;
  width: 100%;
  padding: 6px 8px 6px 8px;
  margin-left: 8px;
  border-radius: 8px;
  z-index: 1;
  box-sizing: border-box;
}

.friendReqsDispCont:hover{
  background-color: rgb(229, 231, 234);
  cursor: pointer;
}

.friendReqsDispCont:hover .friendReqsDeleteButton{
  background-color: rgb(214, 217, 221);
}

.friendReqsDispCont:hover .friendReqsConfirmButton{
  background-color: rgb(7, 96, 242);
}

.friendReqsPhoto{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.friendReqsDispRightCol{
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  margin-top: -2px;
}

@media (min-width: 900px){
  .friendReqsDispRightCol{
    min-width: 176px;
    max-width: 250px;
    width: 100%;
  }
}

.friendReqsDetailsCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.friendReqsName{
  font-size: 15px;
  font-weight: 500;
}

.friendReqsHours{
  font-size: 13px;
  color: rgb(122, 126, 129);
}

.friendReqsMutualsRow{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 8px;
  position: relative;
  margin-bottom: 4px;
}

.friendReqsMutualsPhoto1Ring{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 18px;
  width: 18px;
  background-color: rgb(242, 244, 247);
  border-radius: 100%;
  z-index: 2;
}

.friendReqsDispCont:hover .friendReqsMutualsPhoto1Ring{
  background-color: rgba(229, 231, 234);
}

.friendReqsMutualsPhoto1{
  height: 16px;
  width: 16px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  z-index: 3;
}

.friendReqsMutualsPhoto2{
  height: 16px;
  width: 16px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  padding-left: -3px;
  z-index: 1;
  position: absolute;
  left: 12px;
}

.friendReqsMutualsLabel{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: rgb(122, 126, 129);
  padding-left: 14px;
  margin-top: -4px;
}

.friendReqsButtonsCont{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 44px;
  width: 100%;
}

.friendReqsConfirmButton, .friendReqsDeleteButton{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  width: 50%;
}

.friendReqsConfirmButton:hover, .friendReqsDeleteButton:hover{
  cursor: pointer;
}

.friendReqsConfirmButton{
  color: white;
  background-color: rgb(8, 102, 255);
  margin-right: 4px;
}

.friendReqsDeleteButton{
  background-color: rgb(226, 229, 233);
  margin-left: 4px;
}