.mainSection{
  display: flex;
  flex-direction: row;
}

@media (max-width: 899px){
  .mainSection{
    justify-content: center;
  }
}

@media (min-width: 900px){
  .mainSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}