.birthdayDisplayCont{
  width: 100%;
  padding: 0px 8px 8px 16px;
  display: flex;
  align-items: center;
}

.birthdayIcon{
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.birthdayName{
  font-weight: 500;
}

.birthdayName:hover{
  text-decoration: underline;
  cursor: pointer;
}