.infosCont{
  position: fixed;
  width: 330px;
  bottom: 0px;
  left: 0px;
  padding: 0px 16px 12px 16px;
  line-height: 18px;
}

.infosTexts{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgb(103, 103, 103);  
}

.infosAdChoicesSymbol{
  font-weight: bold;
  color: rgb(127, 127, 127);  
}