.postSection{
  width: 100%;
  height: 123px;
  padding: 0px 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.upperPS{
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgb(229, 229, 229);
}

.postBar{
  height: 40px;
  flex-grow: 1;
  border-radius: 20px;
  background-color: rgb(240, 242, 245);
  margin-left: 8px;
  position: relative;
}

.postBar:hover{
  cursor: pointer;
  background-color: rgb(227, 229, 232);
}

.postBarLabel{
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(103, 103, 103);
  position: absolute;
  top: 9px;
  left: 12px;
}

.lowerPS{
  height: 40px;
  width: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

.postOptions{
  height: 46px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.postOptions:hover{
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.postOptIcons{
  height: 26px;
  width: 26px;
  margin-right: 7px;
}

.postOptIcons2{
  height: 35px;
  width: 35px;
  margin-left: -5px;
  margin-right: 3px;
}

.postOptLabels{
  font-family: sans-serif;
  font-weight: 700;
  color: gray;
}