.middleSection{
  display: flex;
  flex-direction: column;
  height: 3000px;
  margin-top: 72px;
  flex: 1 1 auto;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .middleSection {
    max-width: 680px;
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  .middleSection {
    min-width: 620px; /* Ensures the width starts at 620px and doesn't shrink below it */
    max-width: 744px; /* Prevents the width from growing beyond 744px */
    padding: 0 32px;
  }
}

@media (min-width: 1100px){
  .middleSection{
    min-width: 540px;
    max-width: 744px;
    padding: 0px 32px;
  }
}