.leftSbCont{
  position: fixed;
  width: 343px;
  left: 8px;
  top: 72px;
}

@media (max-width: 1099px){
  .leftSbCont{
    display: none;
  }
}

.leftSbItems{
  display: flex;
  align-items: center;
  width: 340px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.leftSbItems:hover{
  background-color: rgba(230, 232, 234);
  border-radius: 8px;
}

.leftSbIconsCont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding-left: 6px;
  padding-right: 6px; 
}

.leftSbIcons{
  height: 36px;
  width: 36px;
  border-radius: 18px;
}

.leftSbLabels{
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftSbArrow{
  height: 13px;
  width: 13px;
}

.leftSbArrowBg{
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 229, 233);
  border-radius: 18px;
  margin: 2px 8px 2px 8px;
}

/*BOTTOM PART*/

.infosCont{
  position: fixed;
  width: 330px;
  bottom: 0px;
  left: 0px;
  padding: 0px 16px 12px 16px;
  line-height: 18px;
}

.infosTexts{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgb(103, 103, 103);  
}

.infosAdChoicesSymbol{
  font-weight: bold;
  color: rgb(127, 127, 127);  
}