.leftSbCont{
  height: calc(100vh - 72px);
  min-width: 280px;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 72px;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
}

@media (max-width: 1099px){
  .leftSbCont{
    display: none;
  }
}

.leftSbUpperCont{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  box-sizing: border-box;
}

.leftSbItems, .leftSbArrowItem{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 0px;
}

.leftSbItems:hover, .leftSbArrowItem:hover{
  cursor: pointer;
  background-color: rgb(229, 231, 234);
  border-radius: 8px;
}

.leftSbIconsCont{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px; 
}

.leftSbIcons{
  height: 36px;
  width: 36px;
  border-radius: 18px;
}

.leftSbLabels{
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 4px;
}

.leftSbArrow{
  height: 13px;
  width: 13px;
}

.leftSbArrowBg{
  height: 36px;
  width: 36px;
  background-color: rgb(226, 229, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  margin: 2px 8px 2px 8px;
}

.leftSbArrowItem:hover .leftSbArrowBg{
  background-color: rgb(214, 217, 221);
}

/*BOTTOM PART*/

.leftSbLowerCont{
  width: 100%;
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.infosTexts{
  font-size: 13px;
  font-weight: 500;
  color: rgb(103, 103, 103);
}

.infosLink:hover{
  cursor: pointer;
  text-decoration: underline;
}

.infosAdChoicesSymbol{
  font-weight: bold;
  color: rgb(127, 127, 127);  
}