.leftHdrCont{
  width: 320px;
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 15px;
  box-sizing: border-box;
}

.fbIcon{
  height: 40px;
  margin-right: 8px;
}

.fbIcon:hover{
  cursor: pointer;
}

.searchButton{
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  width: 240px;
  padding-left: 35px;
  font-size: 15px;
  background-color: rgba(240, 242, 245);
  border: none;
  border-radius: 20px;
  margin-left: -38px;
}

@media (max-width: 1259px){
  .leftHdrCont{
    width: 112px;
  }
  .searchButton{
    display: none;
  }
}

.searchIconCont{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(240, 242, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon{
  height: 15px;
  width: 15px;
  z-index: 3;
}