.middleHdrCont{
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

@media (max-width: 700px){
  .middleHdrCont{
    display: none;
  }
}

@media (min-width: 700px){
  .homeCont, .friendsCont, .reelsCont, .gamesCont{
    width: 25%;
  }
}

.homeCont, .friendsCont, .reelsCont, .gamesCont{
  height: 53px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeIcon{
  height: 23px;
  width: 23px;
}

.friendsIcon{
  height: 30px;
  width: 30px;
}

.reelsIcon{
  height: 28px;
  width: 28px;
}

.gamesIcon{
  height: 25px;
  width: 25px;
}

.homeCont{
  border-bottom: solid;
  border-bottom-width: 3px;
  border-color: rgb(8, 102, 225);
}