.middleHdrCont{
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 8px;
}

@media (max-width: 700px){
  .middleHdrCont{
    display: none;
  }
}

.homeCont, .friendsCont, .reelsCont, .gamesCont{
  height: 53px;
  min-width: 50px;
  max-width: 130px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendsCont:hover, .reelsCont:hover, .gamesCont:hover{
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  height: 48px;
}

.homeCont:hover{
  cursor: pointer;
}

.homeIcon{
  height: 23px;
  width: 23px;
}

.friendsIcon{
  height: 30px;
  width: 30px;
}

.reelsIcon{
  height: 28px;
  width: 28px;
}

.gamesIcon{
  height: 25px;
  width: 25px;
}

.homeCont{
  border-bottom: 3px solid rgb(8, 102, 225);
}