.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}