body{
  margin: 0;
  padding: 0;
  background-color: rgba(242, 244, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span, p{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.verifiedIcon{
  height: 12px;
  width: 12px;
}

/*BODY OVERLAY*/
.createMessageCont{
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 13px 26px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.createMessageCont:hover{
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

.createMessageIcon{
  height: 18px;
  width: 18px;
}

/*USER PHOTO*/
.userPhotoCont{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: red;
  position: relative;
}

.userPhoto{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.userPhoto:hover{
  cursor: pointer;
  filter: brightness(95%);
}