body{
  height: 3000px;
  margin: 0;
  padding: 0;
  background-color: rgba(242, 244, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span, p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}