body{
  height: 3000px;
  margin: 0;
  padding: 0;
  background-color: rgba(242, 244, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span, p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.verifiedIcon{
  height: 12px;
  width: 12px;
}

/*BODY OVERLAY*/
.createMessageCont{
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 13px 26px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.createMessageIcon{
  height: 18px;
  width: 18px;
}