body{
  height: 3000px;
  margin: 0;
  padding: 0;
  background-color: rgba(242, 244, 247)
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainSection{
  display: flex;
  flex-direction: column;
  width: 680px;
  height: 3000px;
  justify-self: center;
  margin-top: 72px;
}