.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.leftHdrCont{
  width: 300px;
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 15px;
}

.fbIcon{
  height: 40px;
  margin-right: 8px;
}

.searchButton{
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 1240px){
  .searchButton{
    display: block;
    height: 40px;
    width: 240px;
    padding-left: 35px;
    font-size: 15px;
    background-color: rgba(240, 242, 245);
    border: none;
    border-radius: 20px;
    margin-left: -38px;
  }
}

.searchIconCont{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(240, 242, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon{
  height: 15px;
  width: 15px;
  z-index: 3;
}

.middleHdrCont{
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.homeCont, .friendsCont, .reelsCont, .gamesCont{
  height: 53px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeIcon{
  height: 23px;
  width: 23px;
}

.friendsIcon{
  height: 30px;
  width: 30px;
}

.reelsIcon{
  height: 28px;
  width: 28px;
}

.gamesIcon{
  height: 25px;
  width: 25px;
}

.homeCont{
  border-bottom: solid;
  border-bottom-width: 3px;
  border-color: rgb(8, 102, 225);
}

.rightHdrCont{
  width: 300px;
  height: 40px;
  padding: 8px 16px 8px 0px;
  display: flex;
  gap: 8px;
  justify-content: right;
  justify-items: center;
  align-items: middle;
}

.rightIconsCont{
  height: 40px;
  width: 40px;
  background-color: rgba(226, 229, 233);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon{
  height: 18px;
  width: 18px;
}

.messengerIcon{
  height: 20px;
  width: 20px;
}

.notifIcon{
  height: 20px;
  width: 20px;
}

.account{
  position: relative;
}

.userPhoto{
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.arrowDownCont{
  height: 12px;
  width: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
  bottom: -2px;
  right: -2px;
  border-radius: 50%;
  border: 2px solid rgb(248, 248, 248);
}

.arrowDown{
  height: 8px;
  width: 8px;
}